# Start the NFC hal on all supported SKUs
on property:ro.boot.product.hardware.sku=hce
     start nfc_hal_service
     start vendor.nfc_hal_service

on property:ro.boot.product.hardware.sku=hceese
     start nfc_hal_service
     start vendor.nfc_hal_service

on property:ro.boot.product.hardware.sku=hcesim
     start nfc_hal_service
     start vendor.nfc_hal_service

on property:ro.boot.product.hardware.sku=hcesimese
     start nfc_hal_service
     start vendor.nfc_hal_service

service nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.2-service.samsung
    class hal
    user nfc
    group nfc
    disabled
    override

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.2-service
    class hal
    user nfc
    group nfc
    disabled
    override
