allow hal_samsung_camera_flashlight_default sysfs_camera:dir search;
allow hal_samsung_camera_flashlight_default sysfs_camera_writable:file rw_file_perms;
